.pokemon-roster-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
}

.roster-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.random-button{
    height: 100px;
}

.random-button button{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Grandstander', sans-serif;
}

.pokedex-name{
    font-weight: bold;
    font-size: 30px;
}

@media screen and (max-width: 1150px) {
    .pokemon-roster-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 770px) {
    .pokemon-roster-container{
        grid-template-columns: 1fr;
    }
}


